span{
    font-weight: 600;
    color: rgba(0, 0, 0,0.7);
}
.userDetailsSection{
    margin: 3%;
    padding:3%;
    width: 450px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.3);
    border-radius:10px;
}
.rcDetails{
    margin: 3%;
    padding: 3%;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.3);
}