/* SignUp.css */
.signup-container {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-form-container {
    width: 400px;
    padding: 20px 30px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}
.signup-form-container h1 {
    text-align: center;
}
.signup-input-box {
    position: relative;
    width: 100%;
    margin: 20px 0;
}
.signup-input-box input {
    outline: none;
    border: none;
    width: 100%;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 30px;
}
.signup-input-box i {
    position: absolute;
    right: 20px;
    top: 10px;
}
.signup-button-signup .btn {
    width: 100%;
}
.signup-remember-me {
    text-align: center;
    margin-bottom: 20px;
}
